._ {
	margin-top: 27px;
}

.title {
	text-align: start;
}

.message__examples {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: 1.5625rem;
}

.exampleCard {
	width: 18.3125rem;
	height: 15.375rem;
	padding: 0.9375rem;
	border-radius: 0.5rem;
	border: 1px solid #8e8e8e;
	cursor: pointer;
}

.exampleCard__text {
	font-family: MontserratRegular;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
	margin: 0;
	color: var(--primary-text-color);
}

.exampleCard_active {
	border-color: #fd7e14;
}

.textWrapper {
	width: 100%;
	height: 8.4375rem;
	border: 1px solid #8e8e8e;
	background-color: #343434;
	padding: 0.9375rem;
	border-radius: 0.5rem;
	margin-top: 0.9375rem;
}

.textWrapper_light {
	background-color: #fbfbfb;
}

.textWrapper__ref {
	font-family: MontserratRegular;
	font-size: 1rem;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0em;
	text-align: left;
	color: #00000080;
}

.textArea {
	resize: none;
	width: 100%;
	height: 5.125rem;
	background-color: transparent;
	border: none;
	font-family: MontserratRegular;
	font-size: 1rem;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 0em;
	text-align: left;
	color: var(--primary-text-color);
	padding: 0;
}

.textArea:focus {
	outline: none;
}

.sendWrapper {
	display: flex;
	justify-content: end;
	gap: 1.25rem;
	margin-top: 0.875rem;
	align-items: center;
}

.buttonWrapper {
	display: flex;
	gap: 1.25rem;
}

@media (max-width: 1250px) {
	.message__examples {
		justify-content: center;
	}
}

@media (max-width: 700px) {
	.textWrapper {
		word-break: break-all;
		height: 10rem;
	}
}

@media (max-width: 576px) {
	.title {
		text-align: center;
	}
	.textWrapper {
		height: 22.5rem;
		width: 18.3125rem;
		margin-inline: auto;
	}
	.textArea {
		font-size: 0.875rem;
		height: 18.75rem;
	}
	.sendWrapper {
		flex-direction: column;
		align-items: start;
		width: 18.3125rem;
		margin-inline: auto;
	}
	.buttonWrapper {
		width: 100%;
		gap: 0;
		justify-content: space-between;
	}
}
