._ {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.title {
	margin: 0 0 2.25rem;
	transform: translateX(-100%);
	transition: all 1s;
}

.title_visible {
	transform: translateX(0);
}

@media (max-width: 1250px) {
	._ {
		padding-inline: 1.5625rem;
	}
	.container {
		width: 100%;
	}
	.map {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 968px) {
	.container {
		padding-top: 2.5rem;
		border-left: 1px solid #f5bd00;
		border-right: 1px solid #f5bd00;
	}
}
