._ {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.container {
	width: 1221px;
}

.title {
	margin: 0 0 24.5px;
	transform: translateX(-100%);
	transition: all 1s;
}

.title_visible {
	transform: translateX(0);
}

.text {
	font-family: MontserratRegular;
	font-size: 1rem;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
}

.confidence {
	display: flex;
	justify-content: space-between;
}

.description {
	width: 612px;
}

.numbers {
	margin-top: 88px;
	height: 437.5px;
	position: relative;
}

.grid {
	width: 350px;
	margin-top: 44px;
}

.param {
	font-family: MontserratSemiBold;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
	vertical-align: bottom;
}

.stat {
	font-family: MontserratRegular;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	vertical-align: bottom;
	color: #fd7e14;
}

.token {
	position: absolute;
	bottom: 0;
	right: 0;
}

@media (max-width: 1250px) {
	._ {
		padding-inline: 1.5625rem;
	}
	.container {
		width: 100%;
	}
	.token {
		width: 20rem;
	}
}

@media (max-width: 968px) {
	.container {
		padding-top: 2.5rem;
		border-left: 1px solid #f5bd00;
		border-right: 1px solid #f5bd00;
	}
	.confidence {
		flex-direction: column;
		align-items: center;
		gap: 2.625rem;
	}
	.grid {
		margin-top: 1.5rem;
	}
	.numbers {
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2.5rem;
	}
	.titleWrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.token {
		position: initial;
	}
}

@media (max-width: 680px) {
	.description {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.text {
		font-size: 0.875rem;
	}
	.security {
		width: 19rem;
		height: auto;
	}
	.param {
		font-size: 1rem;
	}
	.grid {
		width: auto;
	}
	.token {
		width: 17rem;
		height: auto;
	}
}
