:root {
	--primary-button-color: #f7f7f7;
	--primary-background-color: white;
	--primary-text-color: #222222;
	font-family: MontserratRegular;
	line-height: 1.5;
	font-weight: 400;

	color: #222222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-family: MontserratSemiBold;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
	color: var(--primary-text-color);
	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

span {
	font-family: MontserratRegular;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-family: MontserratBold;
	font-size: 50px;
	font-weight: 700;
	line-height: 61px;
	letter-spacing: 0em;
	text-align: center;
}

h3 {
	font-family: MontserratSemiBold;
	font-size: 25px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0;
}

/* 400 */

@font-face {
	font-family: 'MontserratRegular';
	src: url(./fonts/Montserrat-Regular.ttf);
}

/* 600 */

@font-face {
	font-family: 'MontserratSemiBold';
	src: url(./fonts/Montserrat-SemiBold.ttf);
}

/* 700 */

@font-face {
	font-family: 'MontserratBold';
	src: url(./fonts/Montserrat-Bold.ttf);
}

::-webkit-scrollbar {
	width: 12px;
	height: 5px;
	background-color: rgba(170, 170, 170, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #505050;
	border-radius: 10px;
}
