._ {
	display: flex;
	justify-content: center;
}

.container {
	position: relative;
	width: 76.5625rem;
	display: flex;
	margin-bottom: 3.4375rem;
}

.content {
	height: 100%;
	width: 46.875rem;
	margin-left: 5.25rem;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0 0 2.5rem;
	transform: translateX(-100%);
	transition: all 1s;
}

.title_visible {
	transform: translateX(0);
}

.text {
	font-family: MontserratRegullar;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
}

.buttonWrapper {
	margin-top: 4.25rem;
	display: flex;
	gap: 0.875rem;
}

.button {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	text-transform: none;
}

.button:hover {
	background-color: #f5bd00;
}

.moon {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (max-width: 1250px) {
	._ {
		padding-inline: 1.5625rem;
	}
	.container {
		width: 100%;
	}
	.content {
		width: auto;
		flex: 1 1;
		margin-left: 1.25rem;
	}
}

@media (max-width: 968px) {
	.container {
		margin-bottom: 2.5rem;
	}
	.content {
		align-items: center;
		gap: 2rem;
	}
	.title {
		margin-bottom: 0;
	}
	.buttonWrapper {
		margin-top: 0;
	}
}

@media (max-width: 800px) {
	.document {
		width: 10rem;
		height: auto;
	}
}

@media (max-width: 576px) {
	.container {
		padding-bottom: 1.5625rem;
	}
	.document {
		width: 6.25rem;
	}
	.text {
		font-size: 1rem;
	}
	.buttonWrapper {
		flex-direction: column;
		align-items: center;
	}
}
