._ {
	display: flex;
	justify-content: center;
	padding-top: 4.3125rem;
}

.wrapper {
	width: 77.5rem;
	display: flex;
	gap: 1.6875rem;
}

.content {
	display: flex;
	flex: 1 1;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.625rem;
}

.lastEnter {
	font-family: MontserratSemiBold;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: center;
}

.referral__title {
	text-align: start;
}

.referral__wrapper {
	position: relative;

	margin-top: 0.25rem;
}

.referral__text {
	display: inline-block;
	width: 100%;
	height: 2.5rem;
	padding: 0.8125rem 6.5625rem 0.8125rem 0.875rem;
	font-family: MontserratRegular;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: left;
	border: 1px solid #fd7e14;
	border-radius: 0.375rem;
	background-color: #343434;
}

.referral__text_light {
	background-color: #fbfbfb;
}

.referral__button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 5.6875rem;
	background-color: #fd7e14;
	border-color: #fd7e14;
	padding: 0.375rem;
	font-family: MontserratSemiBold;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;
}

@media (max-width: 1250px) {
	._ {
		padding-inline: 1.5625rem;
	}
	.wrapper {
		width: auto;
	}
}

@media (max-width: 968px) {
	._ {
		padding-top: 0;
	}
	.wrapper {
		padding: 1.625rem 1rem 0;
	}
	.header {
		width: 100%;
		margin-bottom: 0;
	}
	.content {
		align-items: center;
		gap: 1.75rem;
	}
	.referral {
		width: 100%;
	}
	.referral__title {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.wrapper {
		padding-inline: 0;
	}
	.content__logo {
		width: 8rem;
		height: auto;
	}
}
