._ {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.wrapper {
	width: 1237px;
}

.title {
	margin: 0 0 47px;
	transform: translateX(-100%);
	transition: all 1s;
}

.title_visible {
	transform: translateX(0);
}

.gallery {
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 19px;
	overflow: hidden;
	transition: height 0.3s;
}

.gallery_open {
	height: 603px;
}

.card {
	width: 293px;
	height: 292px;
	border-radius: 30px;
	border: 4px solid #f5bd00;
	background-color: #d9d9d9;
}

.button {
	float: right;
	margin-top: 10px;
	color: var(--primary-text-color);
	text-transform: none;
}

.button:hover {
	text-decoration: underline;
}

@media (max-width: 1250px) {
	._ {
		padding-inline: 1.5625rem;
	}
	.wrapper {
		width: 100%;
	}
	.gallery {
		width: 917px;
	}
	.gallery_open {
		height: 914px;
	}
}

@media (max-width: 968px) {
	.wrapper {
		padding-top: 2.5rem;
		border-left: 1px solid #f5bd00;
		border-right: 1px solid #f5bd00;
	}
	.gallery {
		width: 605px;
	}
	.gallery_open {
		height: 1225px;
	}
}

@media (max-width: 800px) {
	.title {
		margin-bottom: 30px;
	}
	.gallery {
		height: 10rem;
		width: 518px;
	}
	.gallery_open {
		height: 518px;
	}
	.card {
		width: 10rem;
		height: 10rem;
		border-radius: 25px;
		border-width: 2px;
	}
	.button {
		font-size: 0.875rem;
	}
}

@media (max-width: 576px) {
	.title {
		margin-bottom: 21px;
	}
	.gallery {
		width: 307px;
		height: 6.125rem;
		gap: 6px;
	}
	.gallery_open {
		height: 306px;
	}
	.card {
		width: 6.125rem;
		height: 6.125rem;
		border-radius: 20px;
		border-width: 1px;
	}
	.button {
		margin-top: 0;
	}
}
