._ {
	width: 100%;
	min-height: 100vh;
	background-color: var(--primary-background-color);
}

.footer {
	background-color: #343434;
	height: 11.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 7.5rem;
}

.socialMedia {
	margin-top: 0.625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10rem;
}

.documents {
	width: 31.25rem;
	display: flex;
	flex-direction: column;
	gap: 1.625rem;
}

.documents__trees {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.documents__links {
	display: flex;
	justify-content: space-between;
}

.link {
	font-family: MontserratSemiBold;
	color: #f7f7f733;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: center;
	text-decoration: underline;
}

.qr {
	display: flex;
	flex-direction: column;
	gap: 0.8125rem;
	justify-content: center;
}

.qr__text {
	font-family: MontserratBold;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: center;
	color: #f7f7f7;
}

@media (max-width: 1280px) {
	.footer {
		height: auto;
	}
	.documents {
		align-items: center;
		width: auto;
	}
	.documents__links {
		flex-direction: column;
	}
}

@media (max-width: 968px) {
	.footer {
		padding: 0 1.5625rem;
	}
	.container {
		padding: 1.5rem 0;
		width: 100%;
		gap: 5rem;
	}
}

@media (max-width: 576px) {
	.documents {
		gap: 0.6875rem;
	}
	.logo {
		width: 8.4375rem;
		height: auto;
	}
	.qr {
		gap: 0.25rem;
	}
}
